/**frame.css**/
#wrap{
	max-width: 1000px;
	padding: 0;
}

#wrap>header{
	width: 100%;
	height: 250px;
}

nav.main{
	width: 100%;
	height: 50px;
}

nav.main ul{
	height: 50px;
	margin: 0 auto;
	padding: 0 6%;
}

nav.main li{
	height: 50px;
	margin: 0 0.5em;
	padding: 0.3em 0.5em;
	float: left;
}

nav.main a{
	height: 50px;
}

nav.main li:hover, nav.main li.current,
nav.main a:hover, nav.main a.current
{
	height: 60px;
	padding-top: 0.5em;
}

div#_content{

}

#nav_cats{
	width: 153px;
	padding: 5px 0 10px;
	float: left;
}

#nav_subcats {
	position: absolute;
	left: 153px;
	width: 600px;
	min-height: 200px;
	z-index: 100;
}

li.fir_nav{
	width: 153px;
}

li.fir_nav h3{
	height: 50px;
	padding: 15px;
	margin: 0px 0px 0px 3px;
}

li.fir_nav h3:hover, li.fir_nav h3.current{
	margin: 0px;
}

.sec_nav{
	width: 100%;
	min-height: 200px;
	padding: 10px;
	overflow: hidden;
	display: none;
}

.sec_nav li{
	margin: 5px;
	float: left;
}

.sec_nav a{
	padding: 0 5px 5px;
}

.sec_nav h4{
	height: 35px;
	padding:5px 5px;
}

.sec_nav_ul{
	width: 100%;
	min-height: 30px;
	overflow: hidden;
}

/**********************/
#nav_cats_wrap{
	position: relative;
	width: 153px;
	min-height: 400px;
	float: left; 
}

#_main{
	width: 847px;
	float: right; 
}

ul#crumbs{
	width: 100%;
	height: 30px;
	left: 335px;
}

ul#crumbs li a {
	display: block;
	float: left;
	height: 30px;
	padding: 5px 10px 0 25px;
	position: relative;
	margin: 0 10px 0 0; 
}

ul#crumbs li a:after {
	content: "";  
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	position: absolute; 
	right: -15px; 
	top: 0;	
	overflow: hidden;
	z-index: 2; 
}


ul#crumbs li a:before {
	content: "";  
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 15px solid #f1fdbd;
	position: absolute; 
	left: 0; 
	top: 0;
	z-index: 1; 
}

ul#crumbs li:first-child a{
	padding-right: 15px;
}

ul#crumbs li:first-child a:after{
	border-left: 15px solid #f98b18;
}

ul#crumbs li:first-child a:before {
	display: none; 
}

ul#crumbs li:nth-child(2) a:after{
	border-left: 15px solid #ff8041;
}

ul#crumbs li:nth-child(3) a:after{
	border-left: 15px solid #19988b;
}

ul#crumbs li:nth-child(4) a:after{
	border-left: 15px solid #7aa4dd;
}

ul#crumbs li:nth-child(5) a:after{
	border-left: 15px solid #3498db;
}

ul#crumbs li:nth-child(6) a:after{
	border-left: 15px solid #40e0d0;
}

ul#crumbs li:nth-child(7) a:after{
	border-left: 15px solid #00fa9a;
}

/***********************/

#college_sub a{
	padding-top: 3px;
}

.rowline{
	width: 100%;
	min-height:400px;
	padding:10px;
}

.row{
	min-height:400px;
	padding:10px;
}

.blocklink{
	display: block;
	float: left;
}

#tab_div{
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	height: 40px;
}

ul#tab{
	width: 100%;
	height: 40px;
	position: relative;
}

ul#tab li{
	width: 25%;
	display:block;
	float:left;
}

ul#tab li a{
	width: 100%;
	height:40px;
	text-align: center;
	line-height: 40px;
}

ul#_tab{
	width: 100%;
	height: 40px;
	position: relative;
}


ul#_tab li{
	width: 33.333%;
	display:block;
	float:left;
}

ul#_tab li a{
	width: 100%;
	height:40px;
	text-align: center;
	line-height: 40px;
}

#page_content h2{
	width: 500px;
	height: 75px;
	margin: 10px 0;
}

#page_content h3{
	width: 350px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;

}

#WeiboSourceMap h4{
	width: 700px;
	height: 60px;
	margin: 40px 0;
}

#page_content h2 span{
	visibility: hidden;
}

#page_content h3 span{
	visibility: hidden;
}

#WeiboSourceMap h4 span{
	visibility: hidden;
}

#page_content div.chart{
	width: 100%;
	height: 305px;
	margin: 15px 0;
}

#UserWebAgeMap div.chart{
	width: 80%;
	margin: 0 auto;
}

#UserRegionMap>div{
	width: 80%;
	margin: 10px auto;
}

#wrap>footer{
	height: 50px;
}

#WeiboReleaseForm div.chart{
	height: 450px;
}

#WeiboPhoneBrandMap div.chart{
	width: 50%;
	height: 400px;
	margin: 0px 0px 180px 0px;
	float: left;
}

#WeiboSourceNameMap div.chart{
	width: 50%;
	height: 400px;
	margin: 0px 0px 180px 0px;
	float: left;
}

#WeiboTimePeriodMap div.chart{
	width: 80%;
	margin: 20px 70px 70px 70px;
}

#UserRelationshipMap div.chart{
	width: 80%;
	margin: 0 auto;
}

#ForwardOriginalMap div.chart{
	width: 80%;
	margin: 0 auto;
}

#BasicQuantityMap img, #PresetFocusAnalysis img{
	margin: 0 22%;
}

#PresetFocusTrend{
	padding-bottom: 50px;
}

.cloud{
	width: 90%;
	min-height: 400px;
	margin: 10px auto;
}

#BasicQuantityMap div.chart{
	width: 80%;
	margin: 0 auto;
}

#PsychologyEventStatistics div.chart{
	width: 60%;
	margin: 30px auto;
}

#PsychologyEventTrend div.chart{
	width: 100%;
	height: 350px;
	margin: 50px auto;
}

#PsyEventTagCloud .cloudLabelUl{
	width: 30%;
}

#PEEventStatistics div.chart{
	width: 80%;
	margin: 30px auto;
}

#PEEventTren div.chart{
	width: 100%;
	height: 350px;
	margin: 50px auto;
}

.labelExtra{
	padding: 0 0.6em;
}

#KeyWordsMap h3{
	width: 240px;
	height: 35px;
	margin: 0 auto;
}

.cloudLabelUl{
	width: 50%;
	height: 40px;
	margin: 10px auto;
}

.cloudLabelUl li{
	height: 20px;
	margin: 10px;
}

.cloudLabelUl li a{
	display: block;
}

.cloudLabelUl li span {
	height: 30px;
	line-height: normal;
}

/**************************/

.cloudLabel{
	width: 100%;
	height: 40px;
	margin: 0px auto;
}

.cloudLabel li{
	height: 20px;
	margin: 0px;
}

.cloudLabel li a{
	display: block;
}

.cloudLabel li span {
	height: 30px;
	line-height: normal;
}

/**************************/

.rowul li{
	float: left;
}

.hiddentab{
	display: none;
}
.rowId{
	text-align: left;
}

.icheckbox_square-blue{
	margin: 0 5px;
}

.topicList{
	width: 90%;
	margin: 10px auto;
}

.topicList tr, .topicList th, .topicList td{
	height: 40px;
}

.pagination{
	width: 65%;
	height: 40px;
	margin: 10px auto;
	display: block;
}

.pagination li{
	width: 32px;
	height: 32px;
	display: block;
	float: left;
}

.pagination li a{
	width: 32px;
	height: 32px;
	border: none;
	padding-left: 0;
	padding-right: 0;
	background-color: transparent;
}

.pagination li a.pre, .pagination li a.next{
	width: 0;
	height: 0;
	margin: 9px;
	padding: 0;
}

.sticky{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000002;
}

h3#Span_FocusTagCloud{
	width: auto;
}

.generateTrendBtn{
	width: 200px;
	margin: 0 auto;
	display: block;
}

.cloudLabelRow{
	width: 50%;
	height: 60px;
	margin: 0 auto;
	position: relative;
}

.cloudLabelRow .cloudLabelUl{
	width: 1000%;
}

.cloudLabelRow div{
	width: 85%;
	left: 30px;
	position: absolute;
	overflow: hidden;
}

.cloudLabelRow span.pre{
	float: left;
}

.cloudLabelRow span.next{
	float: right;
}

.cloudLabelRow span.pre, .cloudLabelRow span.next{
	width: 0;
	height: 0;
	margin: 15px 10px;
	display: block;
}

.cloudLabelRow .cloudLabelUl{
	margin-left: 0;
	overflow: hidden;
	display: inline-block;
}

.loadingCover{
	width: 90%;
	height: 540px;
	position: absolute;
	left: 5%;
	float: left;
	z-index: 1000;
	display: none;
}

.loadingCover h4{
	width: 200px;
	margin: 10% auto;
}

.relativeEle{
	position: relative;
}

#search{
	min-height: initial;
}

#search>img{
	margin: 10px 30%;
}

#searchRow{
	width: 600px;
	height: 40px;
	margin: 10px auto;
}

#keywordStr{	
	width: 455px;
	height: 40px;
	line-height: 35px;
}

#searchSubmit{
	width: 100px;
	height: 40px;
	vertical-align: bottom;
}

#GroupPortraitList{
	width: 455px;
	margin: 0 19%;
}

#GroupPortraitList a{
	padding: 2px 10px;
	display: block;
}

#GroupPortraitList li{
	height: 35px;
	line-height: 30px;
}

div#result div.chart{
	height: 305px;

}

#result .hiddenChart{
	display: none;
}

#result .showChart{
	display: block;
}

#result div#WeiboPhoneBrandMap div.chart{
	width: 50%;
	height: 400px;
	margin: 0px 0px 0px 0px;
	float: left;
}

#result div#WeiboSourceNameMap div.chart{
	width: 50%;
	height: 400px;
	margin: 0px 0px 0px 0px;
	float: left;
}

#result div#WeiboTimePeriodMap div.chart{
	width: 80%;
	margin: 20px auto;
}

#result h3 span{
	visibility: hidden;
}


#result div#WeiboReleaseForm div.chart{
	height: 450px;
	width: 95%;
	margin: 20px auto;
}

#school_sub li{
	width: 275px;
	height: 24px;
	overflow: hidden;
}

#school_sub ul{
	height: 200px;
}

#period_sub>span{
	padding: 10px;
}

#period_sub span, #period_sub input{
	height: 30px;
}