/* fonts */

div.jqcloud {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 10px;
  line-height: normal;
}

div.jqcloud a {
  font-size: inherit;
  text-decoration: none;
}
div.jqcloud span.w11 { font-size: 150%; }
div.jqcloud span.w12 { font-size: 155%; }
div.jqcloud span.w13 { font-size: 160%; }
div.jqcloud span.w14 { font-size: 165%; }
div.jqcloud span.w15 { font-size: 170%; }
div.jqcloud span.w16 { font-size: 175%; }
div.jqcloud span.w17 { font-size: 180%; }
div.jqcloud span.w18 { font-size: 185%; }
div.jqcloud span.w19 { font-size: 190%; }
div.jqcloud span.w20 { font-size: 195%; }
div.jqcloud span.w21 { font-size: 200%; }
div.jqcloud span.w22 { font-size: 205%; }
div.jqcloud span.w23 { font-size: 210%; }
div.jqcloud span.w24 { font-size: 215%; }
div.jqcloud span.w25 { font-size: 220%; }
div.jqcloud span.w26 { font-size: 225%; }
div.jqcloud span.w27 { font-size: 230%; }
div.jqcloud span.w28 { font-size: 235%; }
div.jqcloud span.w29 { font-size: 240%; }
div.jqcloud span.w30 { font-size: 245%; }
div.jqcloud span.w31 { font-size: 250%; }
div.jqcloud span.w32 { font-size: 255%; }
div.jqcloud span.w33 { font-size: 260%; }
div.jqcloud span.w34 { font-size: 265%; }
div.jqcloud span.w35 { font-size: 270%; }
div.jqcloud span.w36 { font-size: 275%; }
div.jqcloud span.w37 { font-size: 280%; }
div.jqcloud span.w38 { font-size: 285%; }
div.jqcloud span.w39 { font-size: 290%; }
div.jqcloud span.w40 { font-size: 295%; }
div.jqcloud span.w41 { font-size: 300%; }
div.jqcloud span.w42 { font-size: 305%; }
div.jqcloud span.w43 { font-size: 310%; }
div.jqcloud span.w44 { font-size: 315%; }
div.jqcloud span.w45 { font-size: 320%; }
div.jqcloud span.w46 { font-size: 325%; }
div.jqcloud span.w47 { font-size: 330%; }
div.jqcloud span.w48 { font-size: 335%; }
div.jqcloud span.w49 { font-size: 340%; }
div.jqcloud span.w50 { font-size: 345%; }
div.jqcloud span.w51 { font-size: 350%; }
div.jqcloud span.w52 { font-size: 355%; }
div.jqcloud span.w53 { font-size: 360%; }
div.jqcloud span.w54 { font-size: 365%; }
div.jqcloud span.w55 { font-size: 370%; }
div.jqcloud span.w56 { font-size: 375%; }
div.jqcloud span.w57 { font-size: 380%; }
div.jqcloud span.w58 { font-size: 385%; }
div.jqcloud span.w59 { font-size: 390%; }
div.jqcloud span.w60 { font-size: 395%; }
div.jqcloud span.w61 { font-size: 400%; }
div.jqcloud span.w62 { font-size: 405%; }
div.jqcloud span.w63 { font-size: 410%; }
div.jqcloud span.w64 { font-size: 415%; }
div.jqcloud span.w65 { font-size: 420%; }
div.jqcloud span.w66 { font-size: 425%; }
div.jqcloud span.w67 { font-size: 430%; }
div.jqcloud span.w68 { font-size: 435%; }
div.jqcloud span.w69 { font-size: 440%; }
div.jqcloud span.w70 { font-size: 445%; }
div.jqcloud span.w71 { font-size: 450%; }
div.jqcloud span.w72 { font-size: 455%; }
div.jqcloud span.w73 { font-size: 460%; }
div.jqcloud span.w74 { font-size: 465%; }
div.jqcloud span.w75 { font-size: 470%; }
div.jqcloud span.w76 { font-size: 475%; }
div.jqcloud span.w77 { font-size: 480%; }
div.jqcloud span.w78 { font-size: 485%; }
div.jqcloud span.w79 { font-size: 490%; }
div.jqcloud span.w80 { font-size: 495%; }
div.jqcloud span.w81 { font-size: 500%; }
div.jqcloud span.w82 { font-size: 505%; }
div.jqcloud span.w83 { font-size: 510%; }
div.jqcloud span.w84 { font-size: 515%; }
div.jqcloud span.w85 { font-size: 520%; }
div.jqcloud span.w86 { font-size: 525%; }
div.jqcloud span.w87 { font-size: 530%; }
div.jqcloud span.w88 { font-size: 535%; }
div.jqcloud span.w89 { font-size: 540%; }
div.jqcloud span.w90 { font-size: 545%; }
div.jqcloud span.w91 { font-size: 550%; }
div.jqcloud span.w92 { font-size: 555%; }
div.jqcloud span.w93 { font-size: 560%; }
div.jqcloud span.w94 { font-size: 565%; }
div.jqcloud span.w95 { font-size: 570%; }
div.jqcloud span.w96 { font-size: 575%; }
div.jqcloud span.w97 { font-size: 580%; }
div.jqcloud span.w98 { font-size: 585%; }
div.jqcloud span.w99 { font-size: 590%; }
div.jqcloud span.w100 { font-size: 595%; }
div.jqcloud span.w101 { font-size: 600%; }
div.jqcloud span.w102 { font-size: 605%; }
div.jqcloud span.w103 { font-size: 610%; }
div.jqcloud span.w104 { font-size: 615%; }
div.jqcloud span.w105 { font-size: 620%; }
div.jqcloud span.w106 { font-size: 625%; }
div.jqcloud span.w107 { font-size: 630%; }
div.jqcloud span.w108 { font-size: 635%; }
div.jqcloud span.w109 { font-size: 640%; }
div.jqcloud span.w110 { font-size: 645%; }
div.jqcloud span.w111 { font-size: 650%; }
div.jqcloud span.w112 { font-size: 655%; }
div.jqcloud span.w113 { font-size: 660%; }
div.jqcloud span.w114 { font-size: 665%; }
div.jqcloud span.w115 { font-size: 670%; }
div.jqcloud span.w116 { font-size: 675%; }
div.jqcloud span.w117 { font-size: 680%; }
div.jqcloud span.w118 { font-size: 685%; }
div.jqcloud span.w119 { font-size: 690%; }
div.jqcloud span.w120 { font-size: 695%; }
div.jqcloud span.w121 { font-size: 700%; }
div.jqcloud span.w122 { font-size: 705%; }
div.jqcloud span.w123 { font-size: 710%; }
div.jqcloud span.w124 { font-size: 715%; }
div.jqcloud span.w125 { font-size: 720%; }
div.jqcloud span.w126 { font-size: 725%; }
div.jqcloud span.w127 { font-size: 730%; }
div.jqcloud span.w128 { font-size: 735%; }
div.jqcloud span.w129 { font-size: 740%; }
div.jqcloud span.w130 { font-size: 745%; }
div.jqcloud span.w131 { font-size: 750%; }
div.jqcloud span.w132 { font-size: 755%; }
div.jqcloud span.w133 { font-size: 760%; }
div.jqcloud span.w134 { font-size: 765%; }
div.jqcloud span.w135 { font-size: 770%; }
div.jqcloud span.w136 { font-size: 775%; }
div.jqcloud span.w137 { font-size: 780%; }
div.jqcloud span.w138 { font-size: 785%; }
div.jqcloud span.w139 { font-size: 790%; }
div.jqcloud span.w140 { font-size: 795%; }
div.jqcloud span.w141 { font-size: 800%; }
div.jqcloud span.w142 { font-size: 805%; }
div.jqcloud span.w143 { font-size: 810%; }
div.jqcloud span.w144 { font-size: 815%; }
div.jqcloud span.w145 { font-size: 820%; }
div.jqcloud span.w146 { font-size: 825%; }
div.jqcloud span.w147 { font-size: 830%; }
div.jqcloud span.w148 { font-size: 835%; }
div.jqcloud span.w149 { font-size: 840%; }
div.jqcloud span.w150 { font-size: 845%; }
div.jqcloud span.w151 { font-size: 850%; }
div.jqcloud span.w152 { font-size: 855%; }
div.jqcloud span.w153 { font-size: 860%; }
div.jqcloud span.w154 { font-size: 865%; }
div.jqcloud span.w155 { font-size: 870%; }
div.jqcloud span.w156 { font-size: 875%; }
div.jqcloud span.w157 { font-size: 880%; }
div.jqcloud span.w158 { font-size: 885%; }
div.jqcloud span.w159 { font-size: 890%; }
div.jqcloud span.w160 { font-size: 895%; }
div.jqcloud span.w161 { font-size: 900%; }
div.jqcloud span.w162 { font-size: 905%; }
div.jqcloud span.w163 { font-size: 910%; }
div.jqcloud span.w164 { font-size: 915%; }
div.jqcloud span.w165 { font-size: 920%; }
div.jqcloud span.w166 { font-size: 925%; }
div.jqcloud span.w167 { font-size: 930%; }
div.jqcloud span.w168 { font-size: 935%; }
div.jqcloud span.w169 { font-size: 940%; }
div.jqcloud span.w170 { font-size: 945%; }
div.jqcloud span.w171 { font-size: 950%; }
div.jqcloud span.w172 { font-size: 955%; }
div.jqcloud span.w173 { font-size: 960%; }
div.jqcloud span.w174 { font-size: 965%; }
div.jqcloud span.w175 { font-size: 970%; }
div.jqcloud span.w176 { font-size: 975%; }
div.jqcloud span.w177 { font-size: 980%; }
div.jqcloud span.w178 { font-size: 985%; }
div.jqcloud span.w179 { font-size: 990%; }
div.jqcloud span.w180 { font-size: 995%; }
div.jqcloud span.w181 { font-size: 1000%; }
div.jqcloud span.w182 { font-size: 1005%; }
div.jqcloud span.w183 { font-size: 1010%; }
div.jqcloud span.w184 { font-size: 1015%; }
div.jqcloud span.w185 { font-size: 1020%; }
div.jqcloud span.w186 { font-size: 1025%; }
div.jqcloud span.w187 { font-size: 1030%; }
div.jqcloud span.w188 { font-size: 1035%; }
div.jqcloud span.w189 { font-size: 1040%; }
div.jqcloud span.w190 { font-size: 1045%; }
div.jqcloud span.w191 { font-size: 1050%; }
div.jqcloud span.w192 { font-size: 1055%; }
div.jqcloud span.w193 { font-size: 1060%; }
div.jqcloud span.w194 { font-size: 1065%; }
div.jqcloud span.w195 { font-size: 1070%; }
div.jqcloud span.w196 { font-size: 1075%; }
div.jqcloud span.w197 { font-size: 1080%; }
div.jqcloud span.w198 { font-size: 1085%; }
div.jqcloud span.w199 { font-size: 1090%; }
div.jqcloud span.w200 { font-size: 1095%; }
div.jqcloud span.w201 { font-size: 1100%; }
div.jqcloud span.w202 { font-size: 1105%; }
div.jqcloud span.w203 { font-size: 1110%; }
div.jqcloud span.w204 { font-size: 1115%; }
div.jqcloud span.w205 { font-size: 1120%; }
div.jqcloud span.w206 { font-size: 1125%; }
div.jqcloud span.w207 { font-size: 1130%; }
div.jqcloud span.w208 { font-size: 1135%; }
div.jqcloud span.w209 { font-size: 1140%; }
div.jqcloud span.w210 { font-size: 1145%; }
div.jqcloud span.w211 { font-size: 1150%; }
div.jqcloud span.w212 { font-size: 1155%; }
div.jqcloud span.w213 { font-size: 1160%; }
div.jqcloud span.w214 { font-size: 1165%; }
div.jqcloud span.w215 { font-size: 1170%; }
div.jqcloud span.w216 { font-size: 1175%; }
div.jqcloud span.w217 { font-size: 1180%; }
div.jqcloud span.w218 { font-size: 1185%; }
div.jqcloud span.w219 { font-size: 1190%; }
div.jqcloud span.w220 { font-size: 1195%; }
div.jqcloud span.w221 { font-size: 1200%; }
div.jqcloud span.w222 { font-size: 1205%; }
div.jqcloud span.w223 { font-size: 1210%; }
div.jqcloud span.w224 { font-size: 1215%; }
div.jqcloud span.w225 { font-size: 1220%; }
div.jqcloud span.w226 { font-size: 1225%; }
div.jqcloud span.w227 { font-size: 1230%; }
div.jqcloud span.w228 { font-size: 1235%; }
div.jqcloud span.w229 { font-size: 1240%; }
div.jqcloud span.w230 { font-size: 1245%; }
div.jqcloud span.w231 { font-size: 1250%; }
div.jqcloud span.w232 { font-size: 1255%; }
div.jqcloud span.w233 { font-size: 1260%; }
div.jqcloud span.w234 { font-size: 1265%; }
div.jqcloud span.w235 { font-size: 1270%; }
div.jqcloud span.w236 { font-size: 1275%; }
div.jqcloud span.w237 { font-size: 1280%; }
div.jqcloud span.w238 { font-size: 1285%; }
div.jqcloud span.w239 { font-size: 1290%; }
div.jqcloud span.w240 { font-size: 1295%; }
div.jqcloud span.w241 { font-size: 1300%; }
div.jqcloud span.w242 { font-size: 1305%; }
div.jqcloud span.w243 { font-size: 1310%; }
div.jqcloud span.w244 { font-size: 1315%; }
div.jqcloud span.w245 { font-size: 1320%; }
div.jqcloud span.w246 { font-size: 1325%; }
div.jqcloud span.w247 { font-size: 1330%; }
div.jqcloud span.w248 { font-size: 1335%; }
div.jqcloud span.w249 { font-size: 1340%; }
div.jqcloud span.w250 { font-size: 1345%; }
div.jqcloud span.w251 { font-size: 1350%; }
div.jqcloud span.w252 { font-size: 1355%; }
div.jqcloud span.w253 { font-size: 1360%; }
div.jqcloud span.w254 { font-size: 1365%; }
div.jqcloud span.w255 { font-size: 1370%; }
div.jqcloud span.w256 { font-size: 1375%; }
div.jqcloud span.w257 { font-size: 1380%; }
div.jqcloud span.w258 { font-size: 1385%; }
div.jqcloud span.w259 { font-size: 1390%; }
div.jqcloud span.w260 { font-size: 1395%; }
div.jqcloud span.w261 { font-size: 1400%; }
div.jqcloud span.w262 { font-size: 1405%; }
div.jqcloud span.w263 { font-size: 1410%; }
div.jqcloud span.w264 { font-size: 1415%; }
div.jqcloud span.w265 { font-size: 1420%; }
div.jqcloud span.w266 { font-size: 1425%; }
div.jqcloud span.w267 { font-size: 1430%; }
div.jqcloud span.w268 { font-size: 1435%; }
div.jqcloud span.w269 { font-size: 1440%; }
div.jqcloud span.w270 { font-size: 1445%; }
div.jqcloud span.w271 { font-size: 1450%; }
div.jqcloud span.w272 { font-size: 1455%; }
div.jqcloud span.w273 { font-size: 1460%; }
div.jqcloud span.w274 { font-size: 1465%; }
div.jqcloud span.w275 { font-size: 1470%; }
div.jqcloud span.w276 { font-size: 1475%; }
div.jqcloud span.w277 { font-size: 1480%; }
div.jqcloud span.w278 { font-size: 1485%; }
div.jqcloud span.w279 { font-size: 1490%; }
div.jqcloud span.w280 { font-size: 1495%; }
div.jqcloud span.w281 { font-size: 1500%; }
div.jqcloud span.w282 { font-size: 1505%; }
div.jqcloud span.w283 { font-size: 1510%; }
div.jqcloud span.w284 { font-size: 1515%; }
div.jqcloud span.w285 { font-size: 1520%; }
div.jqcloud span.w286 { font-size: 1525%; }
div.jqcloud span.w287 { font-size: 1530%; }
div.jqcloud span.w288 { font-size: 1535%; }
div.jqcloud span.w289 { font-size: 1540%; }
div.jqcloud span.w290 { font-size: 1545%; }
div.jqcloud span.w291 { font-size: 1550%; }
div.jqcloud span.w292 { font-size: 1555%; }
div.jqcloud span.w293 { font-size: 1560%; }
div.jqcloud span.w294 { font-size: 1565%; }
div.jqcloud span.w295 { font-size: 1570%; }
div.jqcloud span.w296 { font-size: 1575%; }
div.jqcloud span.w297 { font-size: 1580%; }
div.jqcloud span.w298 { font-size: 1585%; }
div.jqcloud span.w299 { font-size: 1590%; }
div.jqcloud span.w300 { font-size: 1595%; }
div.jqcloud span.w301 { font-size: 1600%; }
div.jqcloud span.w302 { font-size: 1605%; }
div.jqcloud span.w303 { font-size: 1610%; }
div.jqcloud span.w304 { font-size: 1615%; }
div.jqcloud span.w305 { font-size: 1620%; }
div.jqcloud span.w306 { font-size: 1625%; }
div.jqcloud span.w307 { font-size: 1630%; }
div.jqcloud span.w308 { font-size: 1635%; }
div.jqcloud span.w309 { font-size: 1640%; }
div.jqcloud span.w310 { font-size: 1645%; }
div.jqcloud span.w311 { font-size: 1650%; }
div.jqcloud span.w312 { font-size: 1655%; }
div.jqcloud span.w313 { font-size: 1660%; }
div.jqcloud span.w314 { font-size: 1665%; }
div.jqcloud span.w315 { font-size: 1670%; }
div.jqcloud span.w316 { font-size: 1675%; }
div.jqcloud span.w317 { font-size: 1680%; }
div.jqcloud span.w318 { font-size: 1685%; }
div.jqcloud span.w319 { font-size: 1690%; }
div.jqcloud span.w320 { font-size: 1695%; }
div.jqcloud span.w321 { font-size: 1700%; }
div.jqcloud span.w322 { font-size: 1705%; }
div.jqcloud span.w323 { font-size: 1710%; }
div.jqcloud span.w324 { font-size: 1715%; }
div.jqcloud span.w325 { font-size: 1720%; }
div.jqcloud span.w326 { font-size: 1725%; }
div.jqcloud span.w327 { font-size: 1730%; }
div.jqcloud span.w328 { font-size: 1735%; }
div.jqcloud span.w329 { font-size: 1740%; }
div.jqcloud span.w330 { font-size: 1745%; }
div.jqcloud span.w331 { font-size: 1750%; }
div.jqcloud span.w332 { font-size: 1755%; }
div.jqcloud span.w333 { font-size: 1760%; }
div.jqcloud span.w334 { font-size: 1765%; }
div.jqcloud span.w335 { font-size: 1770%; }
div.jqcloud span.w336 { font-size: 1775%; }
div.jqcloud span.w337 { font-size: 1780%; }
div.jqcloud span.w338 { font-size: 1785%; }
div.jqcloud span.w339 { font-size: 1790%; }
div.jqcloud span.w340 { font-size: 1795%; }
div.jqcloud span.w341 { font-size: 1800%; }
div.jqcloud span.w342 { font-size: 1805%; }
div.jqcloud span.w343 { font-size: 1810%; }
div.jqcloud span.w344 { font-size: 1815%; }
div.jqcloud span.w345 { font-size: 1820%; }
div.jqcloud span.w346 { font-size: 1825%; }
div.jqcloud span.w347 { font-size: 1830%; }
div.jqcloud span.w348 { font-size: 1835%; }
div.jqcloud span.w349 { font-size: 1840%; }
div.jqcloud span.w350 { font-size: 1845%; }
div.jqcloud span.w351 { font-size: 1850%; }
div.jqcloud span.w352 { font-size: 1855%; }
div.jqcloud span.w353 { font-size: 1860%; }
div.jqcloud span.w354 { font-size: 1865%; }
div.jqcloud span.w355 { font-size: 1870%; }
div.jqcloud span.w356 { font-size: 1875%; }
div.jqcloud span.w357 { font-size: 1880%; }
div.jqcloud span.w358 { font-size: 1885%; }
div.jqcloud span.w359 { font-size: 1890%; }
div.jqcloud span.w360 { font-size: 1895%; }
div.jqcloud span.w361 { font-size: 1900%; }
div.jqcloud span.w362 { font-size: 1905%; }
div.jqcloud span.w363 { font-size: 1910%; }
div.jqcloud span.w364 { font-size: 1915%; }
div.jqcloud span.w365 { font-size: 1920%; }
div.jqcloud span.w366 { font-size: 1925%; }
div.jqcloud span.w367 { font-size: 1930%; }
div.jqcloud span.w368 { font-size: 1935%; }
div.jqcloud span.w369 { font-size: 1940%; }
div.jqcloud span.w370 { font-size: 1945%; }
div.jqcloud span.w371 { font-size: 1950%; }
div.jqcloud span.w372 { font-size: 1955%; }
div.jqcloud span.w373 { font-size: 1960%; }
div.jqcloud span.w374 { font-size: 1965%; }
div.jqcloud span.w375 { font-size: 1970%; }
div.jqcloud span.w376 { font-size: 1975%; }
div.jqcloud span.w377 { font-size: 1980%; }
div.jqcloud span.w378 { font-size: 1985%; }
div.jqcloud span.w379 { font-size: 1990%; }
div.jqcloud span.w380 { font-size: 1995%; }
div.jqcloud span.w381 { font-size: 2000%; }
div.jqcloud span.w382 { font-size: 2005%; }
div.jqcloud span.w383 { font-size: 2010%; }
div.jqcloud span.w384 { font-size: 2015%; }
div.jqcloud span.w385 { font-size: 2020%; }
div.jqcloud span.w386 { font-size: 2025%; }
div.jqcloud span.w387 { font-size: 2030%; }
div.jqcloud span.w388 { font-size: 2035%; }
div.jqcloud span.w389 { font-size: 2040%; }
div.jqcloud span.w390 { font-size: 2045%; }
div.jqcloud span.w391 { font-size: 2050%; }
div.jqcloud span.w392 { font-size: 2055%; }
div.jqcloud span.w393 { font-size: 2060%; }
div.jqcloud span.w394 { font-size: 2065%; }
div.jqcloud span.w395 { font-size: 2070%; }
div.jqcloud span.w396 { font-size: 2075%; }
div.jqcloud span.w397 { font-size: 2080%; }
div.jqcloud span.w398 { font-size: 2085%; }
div.jqcloud span.w399 { font-size: 2090%; }
div.jqcloud span.w400 { font-size: 2095%; }
div.jqcloud span.w401 { font-size: 2100%; }
div.jqcloud span.w402 { font-size: 2105%; }
div.jqcloud span.w403 { font-size: 2110%; }
div.jqcloud span.w404 { font-size: 2115%; }
div.jqcloud span.w405 { font-size: 2120%; }
div.jqcloud span.w406 { font-size: 2125%; }
div.jqcloud span.w407 { font-size: 2130%; }
div.jqcloud span.w408 { font-size: 2135%; }
div.jqcloud span.w409 { font-size: 2140%; }
div.jqcloud span.w410 { font-size: 2145%; }
div.jqcloud span.w411 { font-size: 2150%; }
div.jqcloud span.w412 { font-size: 2155%; }
div.jqcloud span.w413 { font-size: 2160%; }
div.jqcloud span.w414 { font-size: 2165%; }
div.jqcloud span.w415 { font-size: 2170%; }
div.jqcloud span.w416 { font-size: 2175%; }
div.jqcloud span.w417 { font-size: 2180%; }
div.jqcloud span.w418 { font-size: 2185%; }
div.jqcloud span.w419 { font-size: 2190%; }
div.jqcloud span.w420 { font-size: 2195%; }
div.jqcloud span.w421 { font-size: 2200%; }
div.jqcloud span.w422 { font-size: 2205%; }
div.jqcloud span.w423 { font-size: 2210%; }
div.jqcloud span.w424 { font-size: 2215%; }
div.jqcloud span.w425 { font-size: 2220%; }
div.jqcloud span.w426 { font-size: 2225%; }
div.jqcloud span.w427 { font-size: 2230%; }
div.jqcloud span.w428 { font-size: 2235%; }
div.jqcloud span.w429 { font-size: 2240%; }
div.jqcloud span.w430 { font-size: 2245%; }
div.jqcloud span.w431 { font-size: 2250%; }
div.jqcloud span.w432 { font-size: 2255%; }
div.jqcloud span.w433 { font-size: 2260%; }
div.jqcloud span.w434 { font-size: 2265%; }
div.jqcloud span.w435 { font-size: 2270%; }
div.jqcloud span.w436 { font-size: 2275%; }
div.jqcloud span.w437 { font-size: 2280%; }
div.jqcloud span.w438 { font-size: 2285%; }
div.jqcloud span.w439 { font-size: 2290%; }
div.jqcloud span.w440 { font-size: 2295%; }
div.jqcloud span.w441 { font-size: 2300%; }
div.jqcloud span.w442 { font-size: 2305%; }
div.jqcloud span.w443 { font-size: 2310%; }
div.jqcloud span.w444 { font-size: 2315%; }
div.jqcloud span.w445 { font-size: 2320%; }
div.jqcloud span.w446 { font-size: 2325%; }
div.jqcloud span.w447 { font-size: 2330%; }
div.jqcloud span.w448 { font-size: 2335%; }
div.jqcloud span.w449 { font-size: 2340%; }
div.jqcloud span.w450 { font-size: 2345%; }
div.jqcloud span.w451 { font-size: 2350%; }
div.jqcloud span.w452 { font-size: 2355%; }
div.jqcloud span.w453 { font-size: 2360%; }
div.jqcloud span.w454 { font-size: 2365%; }
div.jqcloud span.w455 { font-size: 2370%; }
div.jqcloud span.w456 { font-size: 2375%; }
div.jqcloud span.w457 { font-size: 2380%; }
div.jqcloud span.w458 { font-size: 2385%; }
div.jqcloud span.w459 { font-size: 2390%; }
div.jqcloud span.w460 { font-size: 2395%; }
div.jqcloud span.w461 { font-size: 2400%; }
div.jqcloud span.w462 { font-size: 2405%; }
div.jqcloud span.w463 { font-size: 2410%; }
div.jqcloud span.w464 { font-size: 2415%; }
div.jqcloud span.w465 { font-size: 2420%; }
div.jqcloud span.w466 { font-size: 2425%; }
div.jqcloud span.w467 { font-size: 2430%; }
div.jqcloud span.w468 { font-size: 2435%; }
div.jqcloud span.w469 { font-size: 2440%; }
div.jqcloud span.w470 { font-size: 2445%; }
div.jqcloud span.w471 { font-size: 2450%; }
div.jqcloud span.w472 { font-size: 2455%; }
div.jqcloud span.w473 { font-size: 2460%; }
div.jqcloud span.w474 { font-size: 2465%; }
div.jqcloud span.w475 { font-size: 2470%; }
div.jqcloud span.w476 { font-size: 2475%; }
div.jqcloud span.w477 { font-size: 2480%; }
div.jqcloud span.w478 { font-size: 2485%; }
div.jqcloud span.w479 { font-size: 2490%; }
div.jqcloud span.w480 { font-size: 2495%; }
div.jqcloud span.w481 { font-size: 2500%; }
div.jqcloud span.w482 { font-size: 2505%; }
div.jqcloud span.w483 { font-size: 2510%; }
div.jqcloud span.w484 { font-size: 2515%; }
div.jqcloud span.w485 { font-size: 2520%; }
div.jqcloud span.w486 { font-size: 2525%; }
div.jqcloud span.w487 { font-size: 2530%; }
div.jqcloud span.w488 { font-size: 2535%; }
div.jqcloud span.w489 { font-size: 2540%; }
div.jqcloud span.w490 { font-size: 2545%; }
div.jqcloud span.w491 { font-size: 2550%; }
div.jqcloud span.w492 { font-size: 2555%; }
div.jqcloud span.w493 { font-size: 2560%; }
div.jqcloud span.w494 { font-size: 2565%; }
div.jqcloud span.w495 { font-size: 2570%; }
div.jqcloud span.w496 { font-size: 2575%; }
div.jqcloud span.w497 { font-size: 2580%; }
div.jqcloud span.w498 { font-size: 2585%; }
div.jqcloud span.w499 { font-size: 2590%; }
div.jqcloud span.w500 { font-size: 2595%; }
div.jqcloud span.w501 { font-size: 2600%; }
div.jqcloud span.w502 { font-size: 2605%; }
div.jqcloud span.w503 { font-size: 2610%; }
div.jqcloud span.w504 { font-size: 2615%; }
div.jqcloud span.w505 { font-size: 2620%; }
div.jqcloud span.w506 { font-size: 2625%; }
div.jqcloud span.w507 { font-size: 2630%; }
div.jqcloud span.w508 { font-size: 2635%; }
div.jqcloud span.w509 { font-size: 2640%; }
div.jqcloud span.w510 { font-size: 2645%; }
div.jqcloud span.w511 { font-size: 2650%; }
div.jqcloud span.w512 { font-size: 2655%; }
div.jqcloud span.w513 { font-size: 2660%; }
div.jqcloud span.w514 { font-size: 2665%; }
div.jqcloud span.w515 { font-size: 2670%; }
div.jqcloud span.w516 { font-size: 2675%; }
div.jqcloud span.w517 { font-size: 2680%; }
div.jqcloud span.w518 { font-size: 2685%; }
div.jqcloud span.w519 { font-size: 2690%; }
div.jqcloud span.w520 { font-size: 2695%; }
div.jqcloud span.w521 { font-size: 2700%; }
div.jqcloud span.w522 { font-size: 2705%; }
div.jqcloud span.w523 { font-size: 2710%; }
div.jqcloud span.w524 { font-size: 2715%; }
div.jqcloud span.w525 { font-size: 2720%; }
div.jqcloud span.w526 { font-size: 2725%; }
div.jqcloud span.w527 { font-size: 2730%; }
div.jqcloud span.w528 { font-size: 2735%; }
div.jqcloud span.w529 { font-size: 2740%; }
div.jqcloud span.w530 { font-size: 2745%; }
div.jqcloud span.w531 { font-size: 2750%; }
div.jqcloud span.w532 { font-size: 2755%; }
div.jqcloud span.w533 { font-size: 2760%; }
div.jqcloud span.w534 { font-size: 2765%; }
div.jqcloud span.w535 { font-size: 2770%; }
div.jqcloud span.w536 { font-size: 2775%; }
div.jqcloud span.w537 { font-size: 2780%; }
div.jqcloud span.w538 { font-size: 2785%; }
div.jqcloud span.w539 { font-size: 2790%; }
div.jqcloud span.w540 { font-size: 2795%; }
div.jqcloud span.w541 { font-size: 2800%; }
div.jqcloud span.w542 { font-size: 2805%; }
div.jqcloud span.w543 { font-size: 2810%; }
div.jqcloud span.w544 { font-size: 2815%; }
div.jqcloud span.w545 { font-size: 2820%; }
div.jqcloud span.w546 { font-size: 2825%; }
div.jqcloud span.w547 { font-size: 2830%; }
div.jqcloud span.w548 { font-size: 2835%; }
div.jqcloud span.w549 { font-size: 2840%; }
div.jqcloud span.w550 { font-size: 2845%; }
div.jqcloud span.w551 { font-size: 2850%; }
div.jqcloud span.w552 { font-size: 2855%; }
div.jqcloud span.w553 { font-size: 2860%; }
div.jqcloud span.w554 { font-size: 2865%; }
div.jqcloud span.w555 { font-size: 2870%; }
div.jqcloud span.w556 { font-size: 2875%; }
div.jqcloud span.w557 { font-size: 2880%; }
div.jqcloud span.w558 { font-size: 2885%; }
div.jqcloud span.w559 { font-size: 2890%; }
div.jqcloud span.w560 { font-size: 2895%; }
div.jqcloud span.w561 { font-size: 2900%; }
div.jqcloud span.w562 { font-size: 2905%; }
div.jqcloud span.w563 { font-size: 2910%; }
div.jqcloud span.w564 { font-size: 2915%; }
div.jqcloud span.w565 { font-size: 2920%; }
div.jqcloud span.w566 { font-size: 2925%; }
div.jqcloud span.w567 { font-size: 2930%; }
div.jqcloud span.w568 { font-size: 2935%; }
div.jqcloud span.w569 { font-size: 2940%; }
div.jqcloud span.w570 { font-size: 2945%; }
div.jqcloud span.w571 { font-size: 2950%; }
div.jqcloud span.w572 { font-size: 2955%; }
div.jqcloud span.w573 { font-size: 2960%; }
div.jqcloud span.w574 { font-size: 2965%; }
div.jqcloud span.w575 { font-size: 2970%; }
div.jqcloud span.w576 { font-size: 2975%; }
div.jqcloud span.w577 { font-size: 2980%; }
div.jqcloud span.w578 { font-size: 2985%; }
div.jqcloud span.w579 { font-size: 2990%; }
div.jqcloud span.w580 { font-size: 2995%; }
div.jqcloud span.w581 { font-size: 3000%; }
div.jqcloud span.w582 { font-size: 3005%; }
div.jqcloud span.w583 { font-size: 3010%; }
div.jqcloud span.w584 { font-size: 3015%; }
div.jqcloud span.w585 { font-size: 3020%; }
div.jqcloud span.w586 { font-size: 3025%; }
div.jqcloud span.w587 { font-size: 3030%; }
div.jqcloud span.w588 { font-size: 3035%; }
div.jqcloud span.w589 { font-size: 3040%; }
div.jqcloud span.w590 { font-size: 3045%; }
div.jqcloud span.w591 { font-size: 3050%; }
div.jqcloud span.w592 { font-size: 3055%; }
div.jqcloud span.w593 { font-size: 3060%; }
div.jqcloud span.w594 { font-size: 3065%; }
div.jqcloud span.w595 { font-size: 3070%; }
div.jqcloud span.w596 { font-size: 3075%; }
div.jqcloud span.w597 { font-size: 3080%; }
div.jqcloud span.w598 { font-size: 3085%; }
div.jqcloud span.w599 { font-size: 3090%; }
div.jqcloud span.w600 { font-size: 3095%; }
div.jqcloud span.w601 { font-size: 3100%; }
div.jqcloud span.w602 { font-size: 3105%; }
div.jqcloud span.w603 { font-size: 3110%; }
div.jqcloud span.w604 { font-size: 3115%; }
div.jqcloud span.w605 { font-size: 3120%; }
div.jqcloud span.w606 { font-size: 3125%; }
div.jqcloud span.w607 { font-size: 3130%; }
div.jqcloud span.w608 { font-size: 3135%; }
div.jqcloud span.w609 { font-size: 3140%; }
div.jqcloud span.w610 { font-size: 3145%; }
div.jqcloud span.w611 { font-size: 3150%; }
div.jqcloud span.w612 { font-size: 3155%; }
div.jqcloud span.w613 { font-size: 3160%; }
div.jqcloud span.w614 { font-size: 3165%; }
div.jqcloud span.w615 { font-size: 3170%; }
div.jqcloud span.w616 { font-size: 3175%; }
div.jqcloud span.w617 { font-size: 3180%; }
div.jqcloud span.w618 { font-size: 3185%; }
div.jqcloud span.w619 { font-size: 3190%; }
div.jqcloud span.w620 { font-size: 3195%; }
div.jqcloud span.w621 { font-size: 3200%; }
div.jqcloud span.w622 { font-size: 3205%; }
div.jqcloud span.w623 { font-size: 3210%; }
div.jqcloud span.w624 { font-size: 3215%; }
div.jqcloud span.w625 { font-size: 3220%; }
div.jqcloud span.w626 { font-size: 3225%; }
div.jqcloud span.w627 { font-size: 3230%; }
div.jqcloud span.w628 { font-size: 3235%; }
div.jqcloud span.w629 { font-size: 3240%; }
div.jqcloud span.w630 { font-size: 3245%; }
div.jqcloud span.w631 { font-size: 3250%; }
div.jqcloud span.w632 { font-size: 3255%; }
div.jqcloud span.w633 { font-size: 3260%; }
div.jqcloud span.w634 { font-size: 3265%; }
div.jqcloud span.w635 { font-size: 3270%; }
div.jqcloud span.w636 { font-size: 3275%; }
div.jqcloud span.w637 { font-size: 3280%; }
div.jqcloud span.w638 { font-size: 3285%; }
div.jqcloud span.w639 { font-size: 3290%; }
div.jqcloud span.w640 { font-size: 3295%; }
div.jqcloud span.w641 { font-size: 3300%; }
div.jqcloud span.w642 { font-size: 3305%; }
div.jqcloud span.w643 { font-size: 3310%; }
div.jqcloud span.w644 { font-size: 3315%; }
div.jqcloud span.w645 { font-size: 3320%; }
div.jqcloud span.w646 { font-size: 3325%; }
div.jqcloud span.w647 { font-size: 3330%; }
div.jqcloud span.w648 { font-size: 3335%; }
div.jqcloud span.w649 { font-size: 3340%; }
div.jqcloud span.w650 { font-size: 3345%; }
div.jqcloud span.w651 { font-size: 3350%; }
div.jqcloud span.w652 { font-size: 3355%; }
div.jqcloud span.w653 { font-size: 3360%; }
div.jqcloud span.w654 { font-size: 3365%; }
div.jqcloud span.w655 { font-size: 3370%; }
div.jqcloud span.w656 { font-size: 3375%; }
div.jqcloud span.w657 { font-size: 3380%; }
div.jqcloud span.w658 { font-size: 3385%; }
div.jqcloud span.w659 { font-size: 3390%; }
div.jqcloud span.w660 { font-size: 3395%; }
div.jqcloud span.w661 { font-size: 3400%; }
div.jqcloud span.w662 { font-size: 3405%; }
div.jqcloud span.w663 { font-size: 3410%; }
div.jqcloud span.w664 { font-size: 3415%; }
div.jqcloud span.w665 { font-size: 3420%; }
div.jqcloud span.w666 { font-size: 3425%; }
div.jqcloud span.w667 { font-size: 3430%; }
div.jqcloud span.w668 { font-size: 3435%; }
div.jqcloud span.w669 { font-size: 3440%; }
div.jqcloud span.w670 { font-size: 3445%; }
div.jqcloud span.w671 { font-size: 3450%; }
div.jqcloud span.w672 { font-size: 3455%; }
div.jqcloud span.w673 { font-size: 3460%; }
div.jqcloud span.w674 { font-size: 3465%; }
div.jqcloud span.w675 { font-size: 3470%; }
div.jqcloud span.w676 { font-size: 3475%; }
div.jqcloud span.w677 { font-size: 3480%; }
div.jqcloud span.w678 { font-size: 3485%; }
div.jqcloud span.w679 { font-size: 3490%; }
div.jqcloud span.w680 { font-size: 3495%; }
div.jqcloud span.w681 { font-size: 3500%; }
div.jqcloud span.w682 { font-size: 3505%; }
div.jqcloud span.w683 { font-size: 3510%; }
div.jqcloud span.w684 { font-size: 3515%; }
div.jqcloud span.w685 { font-size: 3520%; }
div.jqcloud span.w686 { font-size: 3525%; }
div.jqcloud span.w687 { font-size: 3530%; }
div.jqcloud span.w688 { font-size: 3535%; }
div.jqcloud span.w689 { font-size: 3540%; }
div.jqcloud span.w690 { font-size: 3545%; }
div.jqcloud span.w691 { font-size: 3550%; }
div.jqcloud span.w692 { font-size: 3555%; }
div.jqcloud span.w693 { font-size: 3560%; }
div.jqcloud span.w694 { font-size: 3565%; }
div.jqcloud span.w695 { font-size: 3570%; }
div.jqcloud span.w696 { font-size: 3575%; }
div.jqcloud span.w697 { font-size: 3580%; }
div.jqcloud span.w698 { font-size: 3585%; }
div.jqcloud span.w699 { font-size: 3590%; }
div.jqcloud span.w700 { font-size: 3595%; }
div.jqcloud span.w701 { font-size: 3600%; }
div.jqcloud span.w702 { font-size: 3605%; }
div.jqcloud span.w703 { font-size: 3610%; }
div.jqcloud span.w704 { font-size: 3615%; }
div.jqcloud span.w705 { font-size: 3620%; }
div.jqcloud span.w706 { font-size: 3625%; }
div.jqcloud span.w707 { font-size: 3630%; }
div.jqcloud span.w708 { font-size: 3635%; }
div.jqcloud span.w709 { font-size: 3640%; }
div.jqcloud span.w710 { font-size: 3645%; }
div.jqcloud span.w711 { font-size: 3650%; }
div.jqcloud span.w712 { font-size: 3655%; }
div.jqcloud span.w713 { font-size: 3660%; }
div.jqcloud span.w714 { font-size: 3665%; }
div.jqcloud span.w715 { font-size: 3670%; }
div.jqcloud span.w716 { font-size: 3675%; }
div.jqcloud span.w717 { font-size: 3680%; }
div.jqcloud span.w718 { font-size: 3685%; }
div.jqcloud span.w719 { font-size: 3690%; }
div.jqcloud span.w720 { font-size: 3695%; }
div.jqcloud span.w721 { font-size: 3700%; }
div.jqcloud span.w722 { font-size: 3705%; }
div.jqcloud span.w723 { font-size: 3710%; }
div.jqcloud span.w724 { font-size: 3715%; }
div.jqcloud span.w725 { font-size: 3720%; }
div.jqcloud span.w726 { font-size: 3725%; }
div.jqcloud span.w727 { font-size: 3730%; }
div.jqcloud span.w728 { font-size: 3735%; }
div.jqcloud span.w729 { font-size: 3740%; }
div.jqcloud span.w730 { font-size: 3745%; }
div.jqcloud span.w731 { font-size: 3750%; }
div.jqcloud span.w732 { font-size: 3755%; }
div.jqcloud span.w733 { font-size: 3760%; }
div.jqcloud span.w734 { font-size: 3765%; }
div.jqcloud span.w735 { font-size: 3770%; }
div.jqcloud span.w736 { font-size: 3775%; }
div.jqcloud span.w737 { font-size: 3780%; }
div.jqcloud span.w738 { font-size: 3785%; }
div.jqcloud span.w739 { font-size: 3790%; }
div.jqcloud span.w740 { font-size: 3795%; }
div.jqcloud span.w741 { font-size: 3800%; }
div.jqcloud span.w742 { font-size: 3805%; }
div.jqcloud span.w743 { font-size: 3810%; }
div.jqcloud span.w744 { font-size: 3815%; }
div.jqcloud span.w745 { font-size: 3820%; }
div.jqcloud span.w746 { font-size: 3825%; }
div.jqcloud span.w747 { font-size: 3830%; }
div.jqcloud span.w748 { font-size: 3835%; }
div.jqcloud span.w749 { font-size: 3840%; }
div.jqcloud span.w750 { font-size: 3845%; }
div.jqcloud span.w751 { font-size: 3850%; }
div.jqcloud span.w752 { font-size: 3855%; }
div.jqcloud span.w753 { font-size: 3860%; }
div.jqcloud span.w754 { font-size: 3865%; }
div.jqcloud span.w755 { font-size: 3870%; }
div.jqcloud span.w756 { font-size: 3875%; }
div.jqcloud span.w757 { font-size: 3880%; }
div.jqcloud span.w758 { font-size: 3885%; }
div.jqcloud span.w759 { font-size: 3890%; }
div.jqcloud span.w760 { font-size: 3895%; }
div.jqcloud span.w761 { font-size: 3900%; }
div.jqcloud span.w762 { font-size: 3905%; }
div.jqcloud span.w763 { font-size: 3910%; }
div.jqcloud span.w764 { font-size: 3915%; }
div.jqcloud span.w765 { font-size: 3920%; }
div.jqcloud span.w766 { font-size: 3925%; }
div.jqcloud span.w767 { font-size: 3930%; }
div.jqcloud span.w768 { font-size: 3935%; }
div.jqcloud span.w769 { font-size: 3940%; }
div.jqcloud span.w770 { font-size: 3945%; }
div.jqcloud span.w771 { font-size: 3950%; }
div.jqcloud span.w772 { font-size: 3955%; }
div.jqcloud span.w773 { font-size: 3960%; }
div.jqcloud span.w774 { font-size: 3965%; }
div.jqcloud span.w775 { font-size: 3970%; }
div.jqcloud span.w776 { font-size: 3975%; }
div.jqcloud span.w777 { font-size: 3980%; }
div.jqcloud span.w778 { font-size: 3985%; }
div.jqcloud span.w779 { font-size: 3990%; }
div.jqcloud span.w780 { font-size: 3995%; }
div.jqcloud span.w781 { font-size: 4000%; }
div.jqcloud span.w782 { font-size: 4005%; }
div.jqcloud span.w783 { font-size: 4010%; }
div.jqcloud span.w784 { font-size: 4015%; }
div.jqcloud span.w785 { font-size: 4020%; }
div.jqcloud span.w786 { font-size: 4025%; }
div.jqcloud span.w787 { font-size: 4030%; }
div.jqcloud span.w788 { font-size: 4035%; }
div.jqcloud span.w789 { font-size: 4040%; }
div.jqcloud span.w790 { font-size: 4045%; }
div.jqcloud span.w791 { font-size: 4050%; }
div.jqcloud span.w792 { font-size: 4055%; }
div.jqcloud span.w793 { font-size: 4060%; }
div.jqcloud span.w794 { font-size: 4065%; }
div.jqcloud span.w795 { font-size: 4070%; }
div.jqcloud span.w796 { font-size: 4075%; }
div.jqcloud span.w797 { font-size: 4080%; }
div.jqcloud span.w798 { font-size: 4085%; }
div.jqcloud span.w799 { font-size: 4090%; }
div.jqcloud span.w800 { font-size: 4095%; }
div.jqcloud span.w801 { font-size: 4100%; }
div.jqcloud span.w802 { font-size: 4105%; }
div.jqcloud span.w803 { font-size: 4110%; }
div.jqcloud span.w804 { font-size: 4115%; }
div.jqcloud span.w805 { font-size: 4120%; }
div.jqcloud span.w806 { font-size: 4125%; }
div.jqcloud span.w807 { font-size: 4130%; }
div.jqcloud span.w808 { font-size: 4135%; }
div.jqcloud span.w809 { font-size: 4140%; }
div.jqcloud span.w810 { font-size: 4145%; }
div.jqcloud span.w811 { font-size: 4150%; }
div.jqcloud span.w812 { font-size: 4155%; }
div.jqcloud span.w813 { font-size: 4160%; }
div.jqcloud span.w814 { font-size: 4165%; }
div.jqcloud span.w815 { font-size: 4170%; }
div.jqcloud span.w816 { font-size: 4175%; }
div.jqcloud span.w817 { font-size: 4180%; }
div.jqcloud span.w818 { font-size: 4185%; }
div.jqcloud span.w819 { font-size: 4190%; }
div.jqcloud span.w820 { font-size: 4195%; }
div.jqcloud span.w821 { font-size: 4200%; }
div.jqcloud span.w822 { font-size: 4205%; }
div.jqcloud span.w823 { font-size: 4210%; }
div.jqcloud span.w824 { font-size: 4215%; }
div.jqcloud span.w825 { font-size: 4220%; }
div.jqcloud span.w826 { font-size: 4225%; }
div.jqcloud span.w827 { font-size: 4230%; }
div.jqcloud span.w828 { font-size: 4235%; }
div.jqcloud span.w829 { font-size: 4240%; }
div.jqcloud span.w830 { font-size: 4245%; }
div.jqcloud span.w831 { font-size: 4250%; }
div.jqcloud span.w832 { font-size: 4255%; }
div.jqcloud span.w833 { font-size: 4260%; }
div.jqcloud span.w834 { font-size: 4265%; }
div.jqcloud span.w835 { font-size: 4270%; }
div.jqcloud span.w836 { font-size: 4275%; }
div.jqcloud span.w837 { font-size: 4280%; }
div.jqcloud span.w838 { font-size: 4285%; }
div.jqcloud span.w839 { font-size: 4290%; }
div.jqcloud span.w840 { font-size: 4295%; }
div.jqcloud span.w841 { font-size: 4300%; }
div.jqcloud span.w842 { font-size: 4305%; }
div.jqcloud span.w843 { font-size: 4310%; }
div.jqcloud span.w844 { font-size: 4315%; }
div.jqcloud span.w845 { font-size: 4320%; }
div.jqcloud span.w846 { font-size: 4325%; }
div.jqcloud span.w847 { font-size: 4330%; }
div.jqcloud span.w848 { font-size: 4335%; }
div.jqcloud span.w849 { font-size: 4340%; }
div.jqcloud span.w850 { font-size: 4345%; }
div.jqcloud span.w851 { font-size: 4350%; }
div.jqcloud span.w852 { font-size: 4355%; }
div.jqcloud span.w853 { font-size: 4360%; }
div.jqcloud span.w854 { font-size: 4365%; }
div.jqcloud span.w855 { font-size: 4370%; }
div.jqcloud span.w856 { font-size: 4375%; }
div.jqcloud span.w857 { font-size: 4380%; }
div.jqcloud span.w858 { font-size: 4385%; }
div.jqcloud span.w859 { font-size: 4390%; }
div.jqcloud span.w860 { font-size: 4395%; }
div.jqcloud span.w861 { font-size: 4400%; }
div.jqcloud span.w862 { font-size: 4405%; }
div.jqcloud span.w863 { font-size: 4410%; }
div.jqcloud span.w864 { font-size: 4415%; }
div.jqcloud span.w865 { font-size: 4420%; }
div.jqcloud span.w866 { font-size: 4425%; }
div.jqcloud span.w867 { font-size: 4430%; }
div.jqcloud span.w868 { font-size: 4435%; }
div.jqcloud span.w869 { font-size: 4440%; }
div.jqcloud span.w870 { font-size: 4445%; }
div.jqcloud span.w871 { font-size: 4450%; }
div.jqcloud span.w872 { font-size: 4455%; }
div.jqcloud span.w873 { font-size: 4460%; }
div.jqcloud span.w874 { font-size: 4465%; }
div.jqcloud span.w875 { font-size: 4470%; }
div.jqcloud span.w876 { font-size: 4475%; }
div.jqcloud span.w877 { font-size: 4480%; }
div.jqcloud span.w878 { font-size: 4485%; }
div.jqcloud span.w879 { font-size: 4490%; }
div.jqcloud span.w880 { font-size: 4495%; }
div.jqcloud span.w881 { font-size: 4500%; }
div.jqcloud span.w882 { font-size: 4505%; }
div.jqcloud span.w883 { font-size: 4510%; }
div.jqcloud span.w884 { font-size: 4515%; }
div.jqcloud span.w885 { font-size: 4520%; }
div.jqcloud span.w886 { font-size: 4525%; }
div.jqcloud span.w887 { font-size: 4530%; }
div.jqcloud span.w888 { font-size: 4535%; }
div.jqcloud span.w889 { font-size: 4540%; }
div.jqcloud span.w890 { font-size: 4545%; }
div.jqcloud span.w891 { font-size: 4550%; }
div.jqcloud span.w892 { font-size: 4555%; }
div.jqcloud span.w893 { font-size: 4560%; }
div.jqcloud span.w894 { font-size: 4565%; }
div.jqcloud span.w895 { font-size: 4570%; }
div.jqcloud span.w896 { font-size: 4575%; }
div.jqcloud span.w897 { font-size: 4580%; }
div.jqcloud span.w898 { font-size: 4585%; }
div.jqcloud span.w899 { font-size: 4590%; }
div.jqcloud span.w900 { font-size: 4595%; }
div.jqcloud span.w901 { font-size: 4600%; }
div.jqcloud span.w902 { font-size: 4605%; }
div.jqcloud span.w903 { font-size: 4610%; }
div.jqcloud span.w904 { font-size: 4615%; }
div.jqcloud span.w905 { font-size: 4620%; }
div.jqcloud span.w906 { font-size: 4625%; }
div.jqcloud span.w907 { font-size: 4630%; }
div.jqcloud span.w908 { font-size: 4635%; }
div.jqcloud span.w909 { font-size: 4640%; }
div.jqcloud span.w910 { font-size: 4645%; }
div.jqcloud span.w911 { font-size: 4650%; }
div.jqcloud span.w912 { font-size: 4655%; }
div.jqcloud span.w913 { font-size: 4660%; }
div.jqcloud span.w914 { font-size: 4665%; }
div.jqcloud span.w915 { font-size: 4670%; }
div.jqcloud span.w916 { font-size: 4675%; }
div.jqcloud span.w917 { font-size: 4680%; }
div.jqcloud span.w918 { font-size: 4685%; }
div.jqcloud span.w919 { font-size: 4690%; }
div.jqcloud span.w920 { font-size: 4695%; }
div.jqcloud span.w921 { font-size: 4700%; }
div.jqcloud span.w922 { font-size: 4705%; }
div.jqcloud span.w923 { font-size: 4710%; }
div.jqcloud span.w924 { font-size: 4715%; }
div.jqcloud span.w925 { font-size: 4720%; }
div.jqcloud span.w926 { font-size: 4725%; }
div.jqcloud span.w927 { font-size: 4730%; }
div.jqcloud span.w928 { font-size: 4735%; }
div.jqcloud span.w929 { font-size: 4740%; }
div.jqcloud span.w930 { font-size: 4745%; }
div.jqcloud span.w931 { font-size: 4750%; }
div.jqcloud span.w932 { font-size: 4755%; }
div.jqcloud span.w933 { font-size: 4760%; }
div.jqcloud span.w934 { font-size: 4765%; }
div.jqcloud span.w935 { font-size: 4770%; }
div.jqcloud span.w936 { font-size: 4775%; }
div.jqcloud span.w937 { font-size: 4780%; }
div.jqcloud span.w938 { font-size: 4785%; }
div.jqcloud span.w939 { font-size: 4790%; }
div.jqcloud span.w940 { font-size: 4795%; }
div.jqcloud span.w941 { font-size: 4800%; }
div.jqcloud span.w942 { font-size: 4805%; }
div.jqcloud span.w943 { font-size: 4810%; }
div.jqcloud span.w944 { font-size: 4815%; }
div.jqcloud span.w945 { font-size: 4820%; }
div.jqcloud span.w946 { font-size: 4825%; }
div.jqcloud span.w947 { font-size: 4830%; }
div.jqcloud span.w948 { font-size: 4835%; }
div.jqcloud span.w949 { font-size: 4840%; }
div.jqcloud span.w950 { font-size: 4845%; }
div.jqcloud span.w951 { font-size: 4850%; }
div.jqcloud span.w952 { font-size: 4855%; }
div.jqcloud span.w953 { font-size: 4860%; }
div.jqcloud span.w954 { font-size: 4865%; }
div.jqcloud span.w955 { font-size: 4870%; }
div.jqcloud span.w956 { font-size: 4875%; }
div.jqcloud span.w957 { font-size: 4880%; }
div.jqcloud span.w958 { font-size: 4885%; }
div.jqcloud span.w959 { font-size: 4890%; }
div.jqcloud span.w960 { font-size: 4895%; }
div.jqcloud span.w961 { font-size: 4900%; }
div.jqcloud span.w962 { font-size: 4905%; }
div.jqcloud span.w963 { font-size: 4910%; }
div.jqcloud span.w964 { font-size: 4915%; }
div.jqcloud span.w965 { font-size: 4920%; }
div.jqcloud span.w966 { font-size: 4925%; }
div.jqcloud span.w967 { font-size: 4930%; }
div.jqcloud span.w968 { font-size: 4935%; }
div.jqcloud span.w969 { font-size: 4940%; }
div.jqcloud span.w970 { font-size: 4945%; }
div.jqcloud span.w971 { font-size: 4950%; }
div.jqcloud span.w972 { font-size: 4955%; }
div.jqcloud span.w973 { font-size: 4960%; }
div.jqcloud span.w974 { font-size: 4965%; }
div.jqcloud span.w975 { font-size: 4970%; }
div.jqcloud span.w976 { font-size: 4975%; }
div.jqcloud span.w977 { font-size: 4980%; }
div.jqcloud span.w978 { font-size: 4985%; }
div.jqcloud span.w979 { font-size: 4990%; }
div.jqcloud span.w980 { font-size: 4995%; }
div.jqcloud span.w981 { font-size: 5000%; }
div.jqcloud span.w982 { font-size: 5005%; }
div.jqcloud span.w983 { font-size: 5010%; }
div.jqcloud span.w984 { font-size: 5015%; }
div.jqcloud span.w985 { font-size: 5020%; }
div.jqcloud span.w986 { font-size: 5025%; }
div.jqcloud span.w987 { font-size: 5030%; }
div.jqcloud span.w988 { font-size: 5035%; }
div.jqcloud span.w989 { font-size: 5040%; }
div.jqcloud span.w990 { font-size: 5045%; }
div.jqcloud span.w991 { font-size: 5050%; }
div.jqcloud span.w992 { font-size: 5055%; }
div.jqcloud span.w993 { font-size: 5060%; }
div.jqcloud span.w994 { font-size: 5065%; }
div.jqcloud span.w995 { font-size: 5070%; }
div.jqcloud span.w996 { font-size: 5075%; }
div.jqcloud span.w997 { font-size: 5080%; }
div.jqcloud span.w998 { font-size: 5085%; }
div.jqcloud span.w999 { font-size: 5090%; }

div.jqcloud span.w10 { font-size: 145%; }
div.jqcloud span.w9 { font-size: 140%; }
div.jqcloud span.w8 { font-size: 135%; }
div.jqcloud span.w7 { font-size: 130%; }
div.jqcloud span.w6 { font-size: 125%; }
div.jqcloud span.w5 { font-size: 120%; }
div.jqcloud span.w4 { font-size: 115%; }
div.jqcloud span.w3 { font-size: 110%; }
div.jqcloud span.w2 { font-size: 105%; }
div.jqcloud span.w1 { font-size: 100%; }

/* colors */

div.jqcloud { color: #09f; }
div.jqcloud a { color: inherit; }
div.jqcloud a:hover { color: #0df; }
div.jqcloud a:hover { color: #0cf; }
div.jqcloud span.w10 { color: #FF7F0E; }
div.jqcloud span.w9 { color: #1F77B4; }
div.jqcloud span.w8 { color: #9EDAE5; }
div.jqcloud span.w7 { color: #7F7F7F; }
div.jqcloud span.w6 { color: #08ADC3; }
div.jqcloud span.w5 { color: #2CA02C; }
div.jqcloud span.w4 { color: #DBDB8D; }
div.jqcloud span.w3 { color: #BCBD22; }
div.jqcloud span.w2 { color: #98C153; }
div.jqcloud span.w1 { color: #D62728; }

/* layout */

div.jqcloud {
  overflow: hidden;
  position: relative;
}

div.jqcloud span { padding: 0; }