/**style.css**/

#wrap>header{
	background: url(../img/banner.jpg) no-repeat;
}

nav.main li{
	background-color: rgba(153,153,153,0.5);
	border: 1px solid rgba(153,153,153,0.5);
	border-radius: 0 0 1.5em 1.5em;
	font-size: 1.4em;
	font-weight: bold;
}

nav.main a:hover, nav.cross ul.nav1 p:hover{
	cursor: pointer;
}

#nav_cats{
	background-color: #acf4ee;
}

.sec_nav_ul li a{
	font-size: 1.4em;
	font-weight: bold;
	color: #00c4b4;
}

li.fir_nav h3{
	background-color: #acf4ee;
	font-size: 1.4em;
	font-weight: bold;
	color: #00c4b4;
	text-align: center;
}


li.fir_nav h3:hover, li.fir_nav h3.current{
	background-color: #ffffff;
	border-left: 3px solid #00c4b4;
}

.sec_nav{
	background-color: #ffffff;
	border: 2px solid #00c4b4;
}

.sec_nav li a{
	font-size: 1.2em;
	font-weight: bold;
	color: #00c4b4;
	cursor: pointer;
}

.sec_nav p a{
	font-size: 1em;
	cursor: pointer;
}

.sec_nav li a:hover, .sec_nav li a.current, .sec_nav_ul li a.current{
	font-size: 1.2em;
	font-weight: bold;
	background-color: #00c4b4;
	color: #ffffff;
	cursor: pointer;
}

.sec_nav h4{
	font-size: 1.2em;
	font-weight: bold;
	color: #00c4b4;
	border-bottom: 2px solid #00c4b4;
}

.sec_nav p{
	text-align: right;
}

#college_sub a, #college_sub a:hover, #college_sub a.current{
	font-size: 1em;
	font-weight: normal;
}
/******************************************/
ul#crumbs li a{
	background: #3498db;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
}

ul#crumbs li:first-child a{
	background: #f98b18;
}

ul#crumbs li:nth-child(2) a{
	background: #ff8041;
}

ul#crumbs li:nth-child(3) a{
	background: #19988b;
}

ul#crumbs li:nth-child(4) a{
	background: #7aa4dd;
}

/*************************************************/









#UserGender, #UserWebAge, #UserVerifyType, #UserRegion, #WeiboRelease, #WeiboSource, 
#WeiboTimePeriod, #UserRelationship, #tab_BasicInfo, #tab_PresetFocus, #tab_ExtractFocus, 
#tab_Topics, #PsychologyEventS, #PsychologyEventT, #EventTagC, #PEEventS, #PEEventT 
{
	background-color: #007582;
}

#UserGender:hover, #UserWebAge:hover, #UserVerifyType:hover, #UserRegion:hover, #WeiboRelease:hover, #WeiboSource:hover, 
#WeiboTimePeriod:hover, #UserRelationship:hover, #tab_BasicInfo:hover, #tab_PresetFocus:hover, #tab_ExtractFocus:hover, 
#tab_Topics:hover, #PsychologyEventS:hover, #PsychologyEventT:hover, #EventTagC:hover,
#PEEventS:hover, #PEEventT:hover
{
	background-color: #15dac9;
}

#page_content h2{
	overflow: hidden;
}

#tab_div{
	background-color: #009483;
}

#UserGenderRate{
	background: url(../img/genderBG.png) 185px 120px no-repeat #f1fdbd;
}

#UserGenderRate h2{
	background: url(../img/basicInfo.png) 0 0 no-repeat;
}

#UserWebAgeMap{
	background: url(../img/ageBG.png) 200px 100px no-repeat;
}

#UserWebAgeMap h2{
	background: url(../img/basicInfo.png) 0 -75px no-repeat;
}

#UserVerifyTypeMap h2{
	background: url(../img/basicInfo.png) 0 -150px no-repeat;
}

#UserRegionMap h2{
	background: url(../img/basicInfo.png) 0 -224px no-repeat;
}

#WeiboReleaseForm{
	background: url(../img/releaseForm.png) 143px 202px no-repeat #f1fdbd;
}

#WeiboReleaseForm h2{
	background: url(../img/basicInfo.png) 0 -300px no-repeat;
}

#pic{
	background: url(../img/resource.png) 100px 200px no-repeat;
}


#WeiboSourceMap h2{
	background: url(../img/basicInfo.png) 0 -375px no-repeat;
}

#WeiboPhoneBrandMap h4{
	background: url(../img/tt.png) 10px 0 no-repeat;
}

#WeiboTimePeriodMap{
	background: url(../img/timePeriod.png) 115px 395px no-repeat #f1fdbd;
}

#WeiboTimePeriodMap h2{
	background: url(../img/basicInfo.png) 0 -450px no-repeat;
}

#UserRelationshipMap h2{
	background: url(../img/basicInfo.png) 0 -525px no-repeat;
}

#ForwardOriginalMap h2{
	background: url(../img/basicInfo.png) 0 -600px no-repeat;
}

#BasicQuantityMap h2{
	background: url(../img/basicInfo.png) 0 -675px no-repeat;
}

#PresetFocusAnalysis h2{
	background: url(../img/basicInfo.png) 0 -750px no-repeat;
}

#PresetFocusTrend h2{
	background: url(../img/basicInfo.png) 0 -825px no-repeat;
}

#KeyWordsMap h2{
	background: url(../img/basicInfo.png) 0 -900px no-repeat;
}

#ExtractFocusTrend h2{
	background: url(../img/basicInfo.png) 0 -1125px no-repeat;	
}

#KeyWordsMap h3{
	background: url(../img/keywordCloud.png) no-repeat;
}

#TagCloud_All h2{
	background: url(../img/basicInfo.png) 0 -1050px no-repeat;
}

#ExtractTopicTrend h2{
	background: url(../img/basicInfo.png) 0 -975px no-repeat;
}


#PsychologyEventStatistics{
	background: url(../img/psy.png) 285px 130px no-repeat #f1fdbd;
}


#PsychologyEventStatistics h2{
	background: url(../img/basic.png) 0 0 no-repeat;
}

#PsychologyEventTrend h2{
	background: url(../img/basic.png) 0 -75px no-repeat;
}

#PsyEventTagCloud h2{
	background: url(../img/basic.png) 0 -150px no-repeat #f1fdbd;
}

#PsyEventTagCloud h3{
	background: url(../img/keywordCloud.png) no-repeat;
}

#PEEventStatistics h2{
	background: url(../img/basic.png) 0 -225px no-repeat #f1fdbd;
}

#PEEventTren h2{
	background: url(../img/basic.png) 0 -300px no-repeat;
}

#PEEventTagCloud h2{
	background: url(../img/basic.png) 0 -375px no-repeat #f1fdbd;
}

#Search{
	
}

#keywordStr{
	border: 1px solid #15dac9;
	border-radius: 0.5em;
}

#searchSubmit{
	border: 0;
	border-radius: 0.2em;
	background-color: #15dac9;
	color: #fff;
	font-size: 2em;
}

ul#tab li a{
	font-size: 1.5em;
	font-weight: bold;
	color:#fff;
	background: #007582;
}

ul#tab a.current{
	background: #15dac9;
}

ul#_tab li a{
	font-size: 1.5em;
	font-weight: bold;
	color:#fff;
}

#FocusTagCloud_All{
	border: 10px solid #19988b;
	border-radius: 3em;
}

.cloudLabelUl li span {
	font-size: 1.2em;
}

/**************************/
.cloudLabel li span {
	font-size: 1.2em;
}
/**************************/

.label1{
	background-color: #15dac9;
	border-color: #15dac9;
}

.label2{
	background-color: #ff7f50;
	border-color: #ff7f50;
}

.label3{
	background-color: #069385;
	border-color: #069385;
}

.label4{
	background-color: #d7e643;
	border-color: #d7e643;
}

.label5{
	background-color: #34495e;
	border-color: #34495e;
}

.labelExtra{
	border-width: 2px;
	border-style: solid;
}

.labelActive{
	background-color: #fff;
}

.icheckbox_square-blue{
	background-color: #fff;
}

#focusPageList tr:nth-child(odd){
	background-color: #d2f1bd;
}

#focusPageList tr:nth-child(even){
	background-color: #63bc9f;
}

#focusPageList th{
	background-color: #19988b;
}

#focusPageList{
	border-color: #19988b;
}

#topicPageList tr:nth-child(odd){
	background-color: #e7eff9;
}

#topicPageList tr:nth-child(even){
	background-color: #a6c2e8;
}

#topicPageList th{
	background-color: #7aa4dd;
}

#topicPageList{
	border-color: #7aa4dd;
}

.topicList{
	text-align: center;
	border-width: 1px;
	border-style: solid;
}

.topicList th{
	text-align: center;
	color: #fff;
}

.pagination li a{
	text-align: center;
}

.pagination li{
	width: 32px;
	height: 32px;
	display: block;
	float: left;
}

.pagination li a.pre, .pagination li a.next{
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
}

.pagination li a.pre{
	border-right-width: 7px;
	border-right-style: solid;
}

.pagination li a.next{
	border-left-width: 7px;
	border-left-style: solid;
}

.cloudLabelRow span.pre, .cloudLabelRow span.next{
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	cursor: pointer;
}

.cloudLabelRow span.pre{
	border-right: 15px solid #ff7f50;
}

.cloudLabelRow span.next{
	border-left: 15px solid #ff7f50;
}

#topicPage .pagination li a.pre{
	border-right-color: #7aa4dd;
}

#topicPage .pagination li a.next{
	border-left-color: #7aa4dd;
}

#focusPage .pagination li a.pre{
	border-right-color: #00c4b4;
}

#focusPage .pagination li a.next{
	border-left-color: #00c4b4;
}

.pagination .active{
	background-color: #eee;
}

.oddrows{
	background: #f1fdbd;
}

#Searchresult{width:300px; height:100px; padding:20px; background:#f0f3f9;}

#Span_FocusTagCloud{
	border-left: 110px solid transparent;
	border-right: 110px solid transparent;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	-moz-border-image: url(../img/subtitle.png) 0 110 0 110 stretch; /* ÀÏ°æ±¾µÄ Firefox */
	-webkit-border-image: url(../img/subtitle.png) 0 110 0 110 stretch; /* Safari */
	-o-border-image: url(../img/subtitle.png) 0 110 0 110 stretch; /* Opera */
	border-image: url(../img/subtitle.png) 0 110 0 110 stretch;
	text-align: center;
}

.generateTrendBtn{
	font-weight: bold;
	font-size: 1.2em;
}

#focusTrendGenerateBtn{
	background: #19988b;
	color: #fff;
}

#topicTrendGenerateBtn{
	background: #7aa4dd;
	color: #fff;
}

.loadingCover{
	background: rgba(0, 0, 0, 0.5);
	border-radius: 1em;
}

.loadingCover h4{
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	color: #fff;
}

#GroupPortraitList{
	border: 2px solid #00c4b4;
	background-color: #fff;
}

#GroupPortraitList a{
	color: #15dac9;
	font-size: 1.2em;
	font-weight: bold;
}

#GroupPortraitList a:hover{
	color: #fff;
	background-color: #00c4b4;
}

#result div#UserGenderRate{
	background: url(../img/) 185px 120px no-repeat transparent;
}

#result div#UserWebAgeMap{
	background: url(../img/) 200px 100px no-repeat transparent;
}

#result div#WeiboReleaseForm{
	background: url(../img/_releaseForm.png) 130px 130px no-repeat transparent;
}
#result div#WeiboTimePeriodMap{
	background: url(../img/) 115px 395px no-repeat transparent;
}

#result div#PsychologyEventStatistics{
	background: url(../img/) 285px 130px no-repeat transparent;
}

#_main{
	background-color: #f1fdbd;
}

#period_sub span{
	font-size: 1.2em;
	font-weight: bold;
	color: #00c4b4;
}